@model BooksterMVCApp.ViewModels.CheckoutViewModel

@{
    ViewData["Title"] = "Cart";
}

<h1>Cart</h1>

<h3>Delivery Details</h3>
<p>
    @Model.CustomerName @Model.CustomerSurname <br />
    @Model.AddressLineOne <br />
    @Model.AddressLineTwo <br />
    @Model.City <br />
    @Model.PostCode <br />
</p>
<h3>Customer Contact</h3>
<p>
    @Model.CustomerName @Model.CustomerSurname <br />
    @Model.CustomerPhone <br />
    @Model.CustomerEmail <br />
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Book ID
            </th>
            <th>
                Book Name
            </th>
            <th>
                Book Price
            </th>
            <th>
                Book Qty
            </th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        @{
            double orderTotal = 0;
        }
        @foreach (var item in Model.cart)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.bookId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BookName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Qty)
                </td>
                <td>
                    @{
                        var total = (double)item.Price * @item.Qty;
                        orderTotal = orderTotal + (double)total;
                    }
                    R @total
                </td>
            </tr>
        }
        <tr>
            <td colspan="4"><b>Order Total</b></td>
            <td>
                <b>R @orderTotal</b>
            </td>
        </tr>
    </tbody>

</table>

<form asp-action="ConfirmOrder">
    <input name="CurrentUser" type="hidden" value="eadam@vc.co.za" />
    <input name="OrderTotal" type="hidden" value="@orderTotal" />
    <input type="submit" value="ConfirmOrder" class="btn btn-primary" />
</form>